html {
    scroll-behavior: smooth;
  }

.elements-div {
    background-color: var(--header-color);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.elements-div h2{
    text-align: center;
}
.elements-div a {
    color: var(--secondary-color);
    text-decoration: none;  /* bez linek pod odkazem */
    transition: color 0.3s ease;  /* Smooth color transition */
}
.elements-div a:hover {
    color: var(--tertiary-color);
}
.element-content{
    width: 90%;
    margin: auto;
}
      

.elements-div img {
    max-width: 100%;
    height: auto;
}
.element-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* scrollovani */
.scroll-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-scroll {
    display: inline-block;
    text-align: center;
    text-decoration: none; /* Removes underline */
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth hover effect */
}

.btn-scroll:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--primary-color);
}


